body {
    background: linear-gradient(#072654, #000000);
}
.estudantes-titulo{
    text-align: center;
    color: white;
    font-family: Impact;
    padding: 24px 0;
}
.estudantes-img{
    width: 170px;
    height: 170px;
}
.estudante-icone{
    width: 48px;  
}
.estudantes-nome{
    text-align: center;
    color: white;
    font-family: Impact;
}
.estudantes-div{
    text-align: center;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}