body {
    background: linear-gradient(#072654, #000000); /* Degradê de #072654 para #000000 */
}

.nos-titulo{
    text-align: center;
    color: white;
    font-family: Impact;
}
.estudante-thallyson{
    width: 300px;
    height: 300px;
    background-image: url("retrato-de-homem-em-estilo-anime-de-vista-lateral.jpg");
    background-position: center;
}
.estudante-angelo{
    width: 300px;
    height: 300px;
    background-image: url("angelo.jpeg");
    background-position: center;
}
.estudante-gabriel{
    width: 300px;
    height: 300px;
    background-image: url("gabriel.jpeg");
    background-position: center;
}
.estudante-kawan{
    width: 300px;
    height: 300px;
    background-image: url("kawan.jpeg");
    background-position: center;  
}
.estudante-nicolly{
    width: 300px;
    height: 300px;
    background-image: url("nicolly.jpeg");
    background-position: center;
}
.estudante-gui{
    width: 300px;
    height: 300px;
    background-image: url("guilherme.jpeg");
    background-position: center;
}
.nos-div{
    text-align: center;
}
.estudante-icone{
    width: 40px;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.seçao_nos{
    display: inline-flex;
}