*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(#072654, #000000);
    color: white;
}
header{
    text-align: center;
    font-size: 230%;
    padding: 35px 0;
}
.imagem-1{
    display: flex;

}
.imagem-foto1{
    width: 25%;
}
.texto-imagem-1{
    width: 35%;
}
.video-1{
    height:300px;
    width: 50%;
    display: flex;
}
.data-video-1{
    text-align: center;
}
.data-imagem-1{
    padding: 40px 0;
}


.imagem-2{
    display: flex;
}
.imagem-foto2{
    width: 25%;
}
.texto-imagem-2{
    width: 25%;
}
.video-2{
    height: 400px;
    width: 550px;
    display: flex;
}
.data-video-2{
    text-align: center;
}