.seçao   {
    height: auto;
    width: auto;
        
}body{
    background: linear-gradient(#072654, #000000);
}
.robo{
    width: 10%;
    align-items: start;
}


.robotica {
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    align-items: center; /* Centraliza verticalmente */
    

   
}
.imagem-robotica {
    width: 40%;
    height: 40%;
    margin: 1%;
    border: 3px solid black;
    border-radius: 8px;
}

.login{
    align-items: start;
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.sobre-div-conteudo{
    margin-left: 2%;
    margin-top: 3%;
    text-align: left;
}
.titulo-sobre{
    font-size:xx-large ;
    font-family: "Roboto", "Arial", "sans-serif";
    color:aliceblue;
    
}
.icones {
  
    left: 10px; /* Distância da borda esquerda da janela do navegador */
    margin-top: -11%; /* Distância da borda inferior da janela do navegador */
}
.sobre-div-conteudo{
    width: 50%;
}
.image-icones{
    display: flexbox;
}
.sobre-texto{
    font-size: 130%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-family: "Helvetica Neue", Arial, sans-serif;
    
}.container {
    position: relative; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 200px; 
}
.cabecalho-imagem {
    max-width: 50%; 
    height: auto;
}
.robo {
    position: absolute; 
    left: 0; 
    top: 0; 
    max-width: 50%; 
    height: auto;
}

.estudante-icone {
    width: 10%; /* Largura das imagens */
    height: auto; /* Altura automática para manter a proporção */
    margin-bottom: 10px; /* Espaçamento entre as imagens */
}
