*{
    margin: 0;
    padding: 0;
}


.cabecalho{
    background-color: #072654;
    display:flex ;
    justify-content: space-around;
     align-items: center;
     padding: 24px 0;
}

.cabecalho-imagem{
    width: 40%;

}
.robo{
   width: 13%;
}

.imagem-planeta{
    width: 20%;
}

.sobre{
    background-image: linear-gradient(#072654,#000000);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.sobre-div-conteudo{
    width: 35%;
}

.sobre-texto-um{
    font-family: 'Times New Roman', Times, serif
}

.titulo-sobre{
    padding: 24px 0;
}

