body {
    background: linear-gradient(#072654, #000000);
}
.cabecalho-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%; 
  }
.robo{
   width: 12%;
}
.imagem-planeta{
    width: 30%;
}
.sobre-div-conteudo{
    width: 50%;
}

.sobre-div-conteudo{
    width: 45%;
}
.sobre-texto-um{
    font-family: Impact;
    width: 100;
}
.titulo-sobre{
    padding: 10px 0;
    font-family: Impact;
    
}
.cabecalho-imagem {
    display:inline-flex;
    align-items: center;
  }
  
  .cabecalho-imagem {
    max-width: 100%; 
    max-height: 100%;
  }